.quizbox{
    background: #FFE0B2;
    margin: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
    border: solid 3px;
    border-radius: 10px;
}
.quizbox > h1{
    font-size: 2em;
    margin: 15px;
    font-family: 'roundedtext';
}
.quizbox > *{
    font-family: 'roundedtext';
}
.quizbox > h2{
    padding: 15px;
    margin-bottom: 0;
    margin-top: 0px;
}